
.waf*
gui/build/*

faust/a.out
faust/main.cpp
faust/sorcer
faust/sorcer.so
faust/sorcer.ttl

gui/.lock-wafbuild
gui/source_gui.so

/faust/sorcer
/faust/sorcer.ttl
/sorcer.lv2/sorcer.so
/sorcer.lv2/sorcer_gui.so
